body{
    background-color: rgb(212, 175, 55);
    background-image: url(/img/pozadi_maturak.png);
    background-position: left top;
    background-repeat: repeat-y;
    margin: 100px;
}

header{
    background-color: rgb(44, 44, 44);
    padding: 32px;
}

header a{
    color: white;
    text-decoration: none;
}


main{
    background-color: white;
    height: 500px;
    padding: 32px;
}

footer{
    background-color: rgb(44, 44, 44);
    padding: 32px;
}

footer p{
    color: white;
}

footer h1{
    color: white;
}

.nadpis{
    display: flex;
    justify-content: center;
}

._IT4B{
    display: flex;
    justify-content: left;
}

._4STB{
    display: flex;
    justify-content: right;
}